

:root{
  --main-color: #123456;
}

*{ margin:0; padding:0; box-sizing: border-box;}


body {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 40px auto 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  > nav{
    display:flex;
    justify-content: flex-end;
    gap:50px;
  }
}

header, nav, main, footer{
  padding:10px;
  /* border: 1px solid black; */
}

a {
  color: var(--main-color);
}


.card-container{ 
  margin:10px;
  display:flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap:10px;
  .card {
    padding:10px;
      width:250px;
      height:100px;
      border: 1px solid var(--main-color);
   }
}

/* Specific for admin.html */
.add-card-form{
  padding:10px;
  display:flex;
  flex-direction: column;
  gap:10px;
  /* max-width:800px; */
  border: 1px solid var(--main-color);

}

input, textarea { padding:10px; }
